/*--------------ACADEMY PAGE-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #1d3953;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #1a1a1a;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 45em;
  margin: 1em;
  font-weight: bold;
}

.nav a:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #130d0a;
  padding: 2em 20em;
}

#content h1 {
  color: black;
}

#content p {
  color: black;
}

#content #img-1 {
  display: block;
  position: relative;
  z-index: 0;
  height: 80vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#content #img-2 {
  display: block;
  position: relative;
  z-index: 0;
  height: 70vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: 1em;
}

#content #img-3 {
  display: block;
  position: relative;
  z-index: 0;
  height: 70vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: 1em;
}

#content #img-4 {
  display: block;
  position: relative;
  z-index: 0;
  height: 70vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: 1em;
}

#content #img-5 {
  display: block;
  position: relative;
  z-index: 0;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: 1em;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
  background-color: #506578;
  border-radius: 25px;
  padding: 1em;
  -webkit-box-shadow: 1px 1px 1px .09px #0084ff;
          box-shadow: 1px 1px 1px .09px #0084ff;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero,
.layer {
  min-height: 800px;
}

#hero h1,
.layer h1 {
  position: absolute;
  top: 0%;
  left: 53%;
  font-size: 50px;
  padding: 3em;
  color: black;
}

.layer-bg {
  background-image: url("../images/mathew-schwartz-iGheu30xAi8-unsplash.jpg");
  width: 50%;
}

.layer-1 {
  background-position: left bottom;
}

.layer-3 {
  background-position: right bottom;
}

.layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
}

.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
}

@media only screen and (max-width: 768px) {
  .layer-1 {
    background-position: 26% bottom;
  }
  .layer-3 {
    background-position: 35% bottom;
  }
}
/*# sourceMappingURL=academy.css.map */